* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.happy {
    text-align: center;
    margin-top: 15%;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    letter-spacing: 8px;
}
.phrase {
    text-align: center;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
}
p {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    letter-spacing:2px;
}
.beginning {
    margin-top: 15%;
    margin-bottom: 2%;
}
.text {
    margin-bottom: 2%;
}
ul {
    text-align: justify;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    list-style: none;
}
li {
    margin-bottom: 1%;
}
.ending {
    margin-bottom: 5%;
}
.scene {
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #120e4f 0%, #090a0f 100%);
    background-attachment: fixed;
    overflow: hidden;
}
.moon {
    position: relative;
    top: 50px;
    left: 20%;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    z-index: 1000;
}
.moon:after {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: radial-gradient(ellipse at bottom, #120e4f 0%, #090a0f 100%);
    background-attachment: fixed;
}
.scene i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}
section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
span {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: meteor 3s linear infinite;
}
span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 193px;
    height: 1px;
    background: linear-gradient(90deg, white, transparent);
}
@keyframes meteor {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
span:nth-child(1) {
    top: 10%;
    right: 0%;
    left: 70%;
    animation-delay: 0s;
    animation-duration: 3s;
}
span:nth-child(2) {
    top: 75%;
    right: 0%;
    left: 70%;
    animation-delay: 1.2s;
    animation-duration: 2s;
}
span:nth-child(3) {
    top: 0%;
    right: 55%;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 4s;
}
span:nth-child(4) {
    top: 0%;
    right: 75%;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 3.5s;
}
span:nth-child(5) {
    top: 0%;
    right: 20%;
    left: 70%;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6) {
    top: 50%;
    right: 0%;
    left: 70%;
    animation-delay: 2s;
    animation-duration: 5s;
}
span:nth-child(7) {
    top: 0%;
    right: 85%;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3.75s;
}
span:nth-child(8) {
    top: 0%;
    right: 40%;
    left: initial;
    animation-delay: 2.4s;
    animation-duration: 3.25s;
}
span:nth-child(9) {
    top: 30%;
    right: 0%;
    left: 70%;
    animation-delay: 1.7s;
    animation-duration: 1.25s;
}
span:nth-child(10) {
    top: 0%;
    right: 50%;
    left: initial;
    animation-delay: 1.75s;
    animation-duration: 2.25;
}